* {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

.hidden {
    display: none;
}

img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
  }

#weather {
    text-align: right;
}

#clock {
    font-size: 120px;
}
 
#login-form {
    
}

#greeting {
    
}

#todo-form{
    
}

#todo-list{
    
}

#quote {
    text-align: left;
    position:absolute; 
    bottom:0px;
}
